
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: rgba(0, 0, 0, 0.322);
    font-family:  'Reggae One', cursive;
    padding:4rem 0;
}
footer .container{
    display:flex;
}
span{
	color: rgb(238, 61, 41);
}

footer .box{
    flex:1;
    text-align:center;
}

footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    color:white;
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
footer .box ul li a:hover{
    color:rgb(238, 61, 41);
}
footer .box h3{
    padding-bottom:1rem;
    margin-bottom:1rem;
}

footer .box p{
    line-height: 1.6;
    margin-bottom:1rem;
}
footer .box ul li{
    margin-bottom:1rem;
}
footer .box:nth-child(3) > div {
    display:flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}
footer .box:nth-child(3) h3{
    text-align: center;
}
footer .box:nth-child(3) > div img{
    margin-right:1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom:1.5rem;
}

footer.copyright{
    padding:1rem 0;
    background: var(--secondary);
    color:black;
    text-align: center;
    font-size: 0.85rem;
}
